
<% @profiles.each do |profile| %>

  <div id="modal">
    <header><h1><%= profile.display %></h1></header>
    <section>
      <p><div class="profile_image">
        <%= image_tag profile.profile_image.url%>
      </div>
    </p>
      <p><%= profile.public_bio %>  
    </p>
      <header><h1>Blogs: <%= profile.blogs.count %></h1></header>
    </section>
  </div>

  <hr>

<% end %>

