
<% @profiles.each do |profile| %>
  <b> <p><%= profile.display %> </p>  </b>
  <i> <p><%= profile.public_bio %>  </p> </i>

    <div class="profile_image">
      <%= image_tag profile.profile_image.url%>
    </div>

 <p> Blogs: <%= @profiles.count %> </p>
<% end %>

   <p> Blogs following: </p>
<hr>


