/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#multi_markers {
  width: 1000px;
}

.sign_up_homepage {
  padding: 10px;
  width: 100%;
  padding-left: 33%;
}


form header {
  margin: 0 0 20px 0; 
}
form header div {
  font-size: 90%;
  color: #999;
}
form header h2 {
  margin: 0 0 5px 0;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
  width: 25%;
  float: left;
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 75%;
  float: right;
}
form > div > fieldset label {
  font-size: 90%;
}
fieldset {
  border: 0;
  padding: 0;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
  width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
    width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
  legend {
    text-align: right;
  }
}



.box{
  background: #ddd;
  border: 2px solid #fff;
  box-shadow: 0 0 3px rgba(0,0,0,0.5), inset 0 0 100px rgba(0,0,0,0.4);
  float: left;
  height: 300px;
  margin: 28px;
  position: relative;
  width: 300px;
  transition: background 0.3s ease-out;
}
.box p{
  color: #eee;
  font-size: 18px;
  line-height: 34px;
  padding: 12px;
  opacity: 0;
  text-align: center;
  text-shadow: 0 -2px 1px rgba(0,0,0,0.25), 0 2px 0 #fff;
  position: absolute;
  top: 0;
}
.box img{
  height: 300px;
  width: 300px;
  opacity: 1; 
  display: block;
  transition: opacity 0.3s ease-in-out;
}
.box:hover img{
  opacity: 0;
}
/* box colors */
.box:hover p{
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.box:nth-child(1):hover{
  background: #448ccb;
}
.box:nth-child(2):hover{
  background: #f68e56;
}
.box:nth-child(3):hover{
  background: #7cc576;
}
.box:nth-child(4):hover{
  background: #448ccb;
}

#slidy-container {
width: 100%; overflow: hidden;
}



.banner {
  height: 10%;
  width: 100%;
  background-color: #668899;
  text-align: center;
  color: white;
  font-size: 3em;
}

.why_travel_blogger {
  height: 10%;
  width: 100%;
  background-color: #668899;
  text-align: center;
  color: white;
  font-size: 3em;
  font-family: skia;
}



 .bubble 
{
position: relative;
margin-left: 25%;
width: 750px;
height: 120px;
padding: 0px;
background: #60E3FF;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 0 15px 15px;
border-color: #60E3FF transparent;
display: block;
width: 0;
z-index: 1;
top: -15px;
left: 360px;
}

#listing_blogs {
  text-align: center;
}

 #footer {
  height: 60px;
  width: 100%;
  background-color: black;
  padding: 0.1px;
 }

 #social_icons {
  margin-left: 30px;
  margin-top: 10px;
 }

textarea {
    height: 300px;
}

@media (min-width: 767px) {
body { padding-top: 60px; }
}

a.btn { color: #FFF; }
a.btn:visited { color: #FFF; }

div.navbar div.container a { color: #EEE}


 .yt_video {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  img {
    cursor: pointer;
    width: 100%;
    height: auto;
  }

  .glyphicon-thumbs-down {margin-left: 20px;}
}


#slideshow { 
    margin: 50px auto; 
    position: relative; 
    width: 1500px; 
    height: 300px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#fade{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index:1001;
    -moz-opacity: 0.7;
    opacity:.70;
    filter: alpha(opacity=70);
}
#light{
    display: none;
    position: absolute;
    width: 400px;
    height: 300px;                
    padding: 10px;
    margin-left: -600px;
    border: 2px solid #FFF;
    background: #CCC;
    z-index:1002;
    overflow:visible;
}


#dashboard {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  float: left;
  margin-top: -40px;
  margin-left: 20%;
  color: white;
}

#blogs {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  float: left;
  margin-top: -40px;
  margin-left: 30%;
  color: white;
}

#bloggers {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  float: left;
  margin-top: -40px;
  margin-left: 40%;
  color: white;
}

#forum {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  float: left;
  margin-top: -40px;
  margin-left: 50%;
  color: white;
}

#settings {
  font-family: 'Roboto Condensed', sans-serif;
  display: inline-block;
  float: left;
  margin-top: -40px;
  margin-left: 60%;
  color: white;
}

@media (max-width: 600px) {

  .sign_up_homepage {
  padding: 10px;
  width: 100%;

}


@media only screen and (min-width : 1200px) {
.navbar_fixed_top {
position: fixed; 
width: 100%;
z-index: 2000;
margin-top: -60px;
}}


