// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#blog_title {
  text-align: center;
  font-family: "Gentium Basic", serif !important;
  font-style: italic !important;
}

.blog_date {
  text-align: center;
}

.edit_blog {
  text-align: center;
}

#blog_description {
  text-align: center;
}

.unfavorite-button {
  content: url(/assets/unfollow.png);
  max-width: 100px;

}

.favorite-button {
  content: url(/assets/follow.png);
  max-width: 100px;
}

.unfollow-button {
  content: url(/assets/user-4-add.png);
}

.follow-button {
  content: url(/assets/user-4-remove.png);
}

.placement_image {
  background-color: red;
  height: 200px; 
  width: 200px;
  border-radius: 50%;
  float: left;
  margin-top: 50px;
  padding: 10px;  
}

.blog_description {
  width: 1000px;
  line-height: 18px;
}