// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_cloud {
  width: 400px;
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

#blog_title {
  text-align: center;
  font-family: "Gentium Basic", serif !important;
  font-style: italic !important;
}

.blog_date {
  text-align: center;
}

.blogs_listing_image {
  border-radius: 50%;
  margin-left: 50px;
}

.edit_blog {
  text-align: center;
}

#blog_description1 {
  text-align: center;

}

.unfavorite-button {
  content: url(/assets/unfollow.png);
  max-width: 100px;

}

.favorite-button {
  content: url(/assets/follow.png);
  max-width: 100px;
}

.unfollow-button {
  content: url(/assets/user-4-add.png);
}

.follow-button {
  content: url(/assets/user-4-remove.png);
}

.blog_description {
  width: 1000px;
  line-height: 17px;
}