// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

white_text {
  color: red!important;
}

#google_maps_api {
  float: right;
  margin-right: 100px;
  margin-top: 335px;
}

.city_field {
  width: 15em;
  float: right;
  margin-top: -407px;
  margin-right: 75px;
}

.create_city {
  margin-left: 1000px;
}


.callout_max {
  max-width: 700px;
  float: left;
  margin-top: 50px;
}

#edit_profile {
  border: 2px solid black;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.panel {
  max-width: 300px;
}

.friends_activity {
  width: 60%;
  background-color: gray;
  margin-left: 23%;
  height: 200px;  
}

#blog_description {
  max-height: 100px;
}

#blog_comments {
  border: 2px solid black;
}



